.drawer-details{
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
    
        img{
            height:4rem;
            width: 4rem;
            margin: 1.5rem;
            border-radius: 10px;
        }
        .app-name{
            font-size: 2rem;
            color:white;
            font-weight: 300;
            padding: 2.4rem 0.5rem;
        }
    }
    
    .heading{
        color:white;
        font-weight: 600;
        font-size: 1.1rem;
       // padding: 2rem 2rem;
        margin: 2rem 1.5rem;
        margin-bottom: 0;
    }
    
    .dashboard{
        display: flex;
        align-items: center;
        padding: 0 1rem;
    
    
        &:hover{
            transform: scale(1.1);
        }
    
        .icon{
            height:2rem;
            width:2rem;
            padding: 1rem 1rem;
            color:#a9b7d0;
            cursor: pointer;
        }
    
        .details{
            font-size: 1.5rem;
            color:#a9b7d0;
            padding:2rem 1.5rem;
            cursor: pointer;
        }
    }
    
   
}

.drawer{
    background-color: #3f4d67;
    width: auto;
    position: fixed;
    height: 100%;
    
   .out-drawer{
       display: flex;
       flex-direction: column;

       img{
        height:4rem;
        width: 4rem;
        margin: 1.5rem;
        border-radius: 10px;
    }

    .icons{
        display: flex;
        flex-direction: column;
        margin:2rem 1.3rem;

        .icon{
            height:1.8rem;
            width:1.8rem;
            padding: 1rem 1rem;
            color:#a9b7d0;
            cursor: pointer;
        }
    }
   }
}


@media(max-width:800px) {
    .drawer{
       width:8%;
    }
  }

  @media(max-width:600px) {
    .drawer{
       width:13%;
    }
  }