.users{
        width: 72%;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 2px 1px 2px 3px rgb(205, 199, 199) ;
        padding-top: 1rem;
        background-color: white;
        
        
        
    
    .heading{
    margin-left: 3rem;
    font-size: 2rem;
    position: absolute;
}

.userlist{
    margin-top: 4rem;
    width: 80rem;
    height:auto;
   padding: 0 2rem;
  }
}


@media(max-width:992px) {
  .users{
     width:99%;
   
  }
}

@media(max-width:500px) {
  .users{
     width:97%;
   
  }
}


@media(max-width:3200px) {
  .users{
         margin-right: 1rem;
       
      }
  }