.thisweek-users-list{
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-x: scroll;
    background-color: white;
    padding: 2rem;

    .user-header{
      display: grid;
      padding: 1.5rem;
      grid-template-columns: 35% 30% 22% 10%;
      border-top:1px solid lightgray;
      border-bottom:1px solid lightgray;

        .header-block {
          font-size: 1.5rem; 
          color:gray;  
          font-weight: 500; 
        }
    }

    @media (max-width: 500px) {
      .user-header{
        grid-template-columns:55% 45% 36% 17%;
      }
    }

    .today-users{
      width: 100%;
     // margin-top: 2rem;
    
    }
}

