.users-list{
    display: flex;
    flex-direction: column;
    
    width:100%;
    overflow-x: scroll;
   // background-color: blue;

    .user-header{
      display: grid;
      grid-template-columns: 40% 30% 20% 20%;

        .header-block {
          font-size: 2rem;   
        }
    }

    @media (max-width: 500px) {
      .user-header{
          grid-template-columns:50% 40% 30% 30%;
      }
    }

    .today-users{
      width: 100%;
      margin-top: 2rem;
    
    }
}