.salescard {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    flex: 1 1 15rem;
    margin: 1rem 0.5rem;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 3px rgb(205, 199, 199) ;
  
    

    .title{
        font-size: 2.5rem;
        font-weight: bold;
    }

    .p-p{
        display: flex;
        padding-top: 1.5rem;
        justify-content: space-between;

        .arrow{
            height:3rem;
            width:2rem;
            color:greenyellow;
            padding-right: 1rem;
        }

        .price{
            font-size: 2rem;
        }
        .percentage{
            font-size: 1.5rem;
            padding-top: 0.3rem;
            
        }
    }
}