.socialmedia-cardlist {
    display: flex;
    margin: 3rem 0rem;
    flex-wrap: wrap;
    
}

@media (max-width: 450px) {
    .socialmedia-cardlist{
        display: flex;
        flex-direction: column;
       
    }
}