.salescardlist{
    display: flex;
    //margin: 0rem 0rem;
    flex-wrap: wrap;
}

@media (max-width: 450px) {
    .salescardlist{
        display: flex;
        flex-direction: column;
    }
    
}

@media(max-width:1700px) {
    .salescardlist{
       margin-right: 2rem;
     
    }
  }