.socialmediacard{
    display: flex;
    flex: 1 1 20rem;
    flex-direction: column;
    width: 30%;
    padding: 0 2rem;
    margin: 1rem 0.5rem;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 3px rgb(205, 199, 199) ;
    background-color: white;

    .s-header{
        display: flex;
        border-bottom: 1px solid #cecece;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 1.5rem;
       
        img{
        height:4.5rem;
        width:4.5rem;
        margin-top: 1.5rem;
        }

       .p-l{
           display: flex;

        .percentage{
            height: 2rem;
            font-size: 1.5rem;
            margin-top: 5.1rem;
            color:rgb(153, 208, 97);            
        }

        .s-h-data{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            width: 100%;
         
            .likes{
                margin-left: 2.5rem;
                font-size: 2.5rem;
            }
            .totallikes {
                padding: 0 0.5rem;
                font-size: 2rem;
                color: grayscale($color: #a5a1a1);
            }
        }
       }

    }

    .s-footer{
        display: flex;
        justify-content: space-around;
        padding:2rem 0;


        .target ,.duration{
            font-size:1.5rem;
            color: gray;
            font-weight: 600;
        }
    }

}

@media (max-width: 500px) {
    .socialmediacard{
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-right: 5rem;
        padding: 0 1rem;
        flex: 1 1 13rem; 

//         .s-header{
//             display: flex;

//         .p-l{
//             display: flex;

//             .percentage{
//                 //height: 2.5rem;
//                 font-size: 1.5rem;
//                 padding-top: -2rem;
//                // margin-top: 1.3rem;      
//             }
//         .s-h-data{
//             margin-top: 2rem;
//             .likes{
//                 //margin-left: 2.5rem;
//                 font-size: 2rem;
//             }
//             .totallikes {
//                 font-size: 2rem;
//             }
//         }    
//     }
// }
//         .s-footer{
//             .target ,.duration{
//                 font-size:1.3rem;
//             }
//         }
   
    }
   
}