.homepage{
   
    margin-left: 7rem;
    width: 100%;
   // z-index: -1;
   

    .rating-user{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    
    }
}

.user-event{
    display: flex;
    width: 100%;
    margin: 0.5rem;
    justify-content: space-between;
}

@media(max-width:800px) {
    .user-event{
        display: flex;
        flex-direction: column;
    }
  }

  @media(max-width:800px) {
    .homepage{
       width:91%;
    }
  }


  @media(max-width:400px) {
    .homepage{
       width:84%;
    }
  }