 ::before, ::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
  }
  
//   body {
//     background: #fff;
//   }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    height: auto;
  //  background-color:yellow;
    margin:5rem 2rem;
    word-break: break-all;
   // border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;

  }
  .tabs {
    padding: 0.5rem;
    text-align: left;
    width: 18%;
    font-size: 1.8rem;
   // background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
   // border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    color: gray;

    &:hover{
        color: rgb(72, 170, 219);
    }
  }

  @media (max-width: 500px) {
    .tabs{
      width: 22%;
    }
  }
//   .tabs:not(:last-child){
//     border-right: 1px solid rgba(0, 0, 0, 0.274);
//   }
  
  .active-tabs  {
    background: white;
   // border-bottom: 1px solid transparent;
   color: black;
  }
  
//   .active-tabs::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: -5px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: calc(100% + 2px);
//     height: 5px;
//     background: rgb(88, 147, 241);
//   }
  
  
  
  button {
    border: none;
    
  }
  // .content-tabs {
  //   flex-grow : 1;
  // }

  .content {
   // padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    margin-left: 2rem;
    margin-top: 1rem;
  
  
  }


  .active-content {
    display: block;
  }

  @media(max-width:800px) {
    .container{
        width: 100%;
    }
}