 ::before, ::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    height: auto;
    margin:0rem 0.5rem;
    word-break: break-all;  
  }
  
  .bloc-tabs {
    display: flex;

  }
  .tabs {
    padding: 0.5rem;
    text-align: left;
    width: 18%;
    font-size: 1.8rem;
    background-color: #F4F7FA;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    color: gray;
  }

  @media (max-width: 500px) {
    .tabs{
      width: 25%;
    }
  }

  
  .active-tabs  {
    background: white;
    border-radius: 4px;
    box-shadow:  -1px -3px 5px rgb(205, 199, 199) ;
    color: black;
  }
  
//   .active-tabs::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: -5px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: calc(100% + 2px);
//     height: 5px;
//     background: rgb(88, 147, 241);
//   }
  
  
  
  button {
    border: none;
    
  }
  
  .content {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px;
    box-shadow:  -1px 4px 5px 0px rgb(205, 199, 199) ;

  }
  @media(max-width:500px) {
    .content{
        width: 102%;
        //background-color: red;
       
    }
  }


  .active-content {
    display: block;
   
  }

  @media(max-width:800px) {
    .container{
        width: 100%;
        margin-top: 5rem;
    }
}
